!!!
%html
  %head
    %title Currency Exchange
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        = link_to 'CurrencyExchange', 'root_path', class: 'navbar-brand'

        %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse' }, aria: { expanded: false, label: 'Toggle navigation' } }
          %span.navbar-toggler-icon

          %ul.navbar-nav.ml-auto
            - if user_signed_in?
              %li= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete
            - else
              = link_to 'Sign in', new_user_session_path, class: 'nav-link'

    .container
      .row
        .col-lg-12
          = yield
